@media screen and (min-width: 768px){
    .box__section--omnie,
  .box__section--programowanie {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  }
  
  .box__section__div--omnie, 
  .box__private--article,
  .box__programowanie--article{
    max-width: 50rem;
    margin: auto;

  }
  @media screen and (min-width: 768px) {
    Job{
    grid-column: 1;
  }
  Private{
    grid-column: 2;
  }}
  .span__private--tekst,
  .span__job--tekst,
  .span__programowanie--text{
    font-size: 1rem;
    display: block;
    padding: 10px;
  }
  .table__job{
    border: solid #3a0d82;
    background-color: #ffefdc;
    padding: 5px;
  }
  .table__job tr:nth-child(even){
    background-color: #eff1f4;
  }
  th{
    background-color: #3a0d82;
    color: #ffefdc  ;
  }
  
  .img--icons{
    display: block;
  margin: auto;
    max-width: 15rem;
  }
  
  .job__sliderbox{
    text-align: center;
    min-height: 12rem;
  }
  
  .button__navigation--slider{
    background-color: #3a0d82;
    color: #fff;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    height: 12rem;
    vertical-align: middle;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .button__navigation--slider:hover{
    background-color: #520f75;
  }
  .button__navigation--slider:active {
    opacity: 0.8;
  }
  
  .slider-item{
    display: inline-block;
    height: 30rem;
    width: 80%;
    padding: 0 20px;
    vertical-align: middle;
  }
  @media screen and (max-width: 767px) {
    .slider-item{
      max-width: 13rem;
      height: 38rem;
    }
    
  }
  .slider-p{  
    background-color: #3a0d82;
    color: #fff;
    padding: 0.5rem;
    border-radius: 15px;
  }
  .box__priv--navIcons{
    height: 3rem;
  }
  
  .box__private{
    width: auto;
  }
  .img__priv{
    height: 1.5rem;
    display: inline-block;
    margin: 1rem;
  }
  .img__priv:hover, .img__priv:visited{
    height: 2rem;
  }
  .contener--privGrid{
    position:relative;
    width: fit-content;
    margin: 3rem auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:repeat(3,1fr);
    grid-gap: 2rem 1rem;
  }
  @media screen and (max-width: 676px) {
    .contener--privGrid{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(5,1fr); 
  }
  }
  
  
  .box__privGrid--empty{
    position: relative;
    border: solid 2px #3a0d82;
    border-radius: 15px;
    background-color:  #3a0d82;
    box-shadow: 0 0 5px #d3bbf9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    width: 5rem;
  }
  .box__privGrid--img{
    border: solid 2px  #3a0d82;
    border-radius: 15px;
    background-color: #3a0d82;
    box-shadow: 0 0 5px #d3bbf9;
    height: 5rem;
    width: 5rem;
  }
  .box__privGrid--img:hover{
    box-shadow: 0 0 20px #91b0f8;
  }
  .img__privGrid--icon {
    padding: 1rem;
    max-width: 3rem;
    max-height: 3rem;
  }

  .tile-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(58, 13, 130, 0.9);
    border-radius: 15px;
    color: #bbcdf7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
  }
  .tile-content> .content-wrapper{
    position:flex;
    flex-direction:column;
    justify-content: flex-start;
    height: 100%;
  }
  .img__privGrid--navArrow{
    width: 3rem;
    height: 2rem;
    padding: .5rem;
  }
  .img__privGrid--navArrow>img{
    height: 1.5rem;
  }
  .paragraf__privGrid__hobbyContent{
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box__contact--items{
    display: flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: center;
   width: 40%;
    margin: 2rem auto;
   border: solid 2px #91b0f8;
   border-radius: 15px;
   background-color: #bbcdf7;
  }
  .box__contact--items:hover{
  background-color: #ffefdc;
  }
  .icon--contact{
    width: fit-content;
    height: 3rem;
    margin: 1rem;
  }
  .paragraf__contact{
    display: block;
    width: 10rem;
  color: #3a0d82;
  font-weight: bolder;
  font-size: 1.5rem;
    margin: 1rem;
  }