.App {
  text-align: center;
  background-image: url("./img/cristal\ background.png");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 200px;
}

.App-header {
height: 80%;
width: 80%;
margin: auto;
padding: 100px;
border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:#3a0d82 ;
}

.App-link {
  color: #00257b;
}
.App-link:hover{
  color:#044cf3
}

.nav--emoji{
  font-size: 48px; 
}

.box__nav--navigation {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  font-size: 24px;
  background-color: #3a0d82;
}
.nav__button--emoji {
  display: inline-block;
}
.span__nav,
.nav--emoji {
  font-weight: bold;
  position: relative;
  z-index: 3;}

.nav__button--nav {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.nav__button--nav a {
  text-decoration: none;
  border: 2px solid#bbcdf7;
  padding: 15px;
  color: #bbcdf7;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;
}
.nav__button--emoji a {
  text-decoration: none;
  border: 2px solid #bbcdf7;
  padding: 1px 15px;
  color: #bbcdf7;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  display: inline-block;}

.nav__button--nav a::before ,
.nav__button--emoji a::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -2px;
  width: calc(100% + 6px);
  height: calc(100% - 10px);
  background-color: #3a0d82;
  transition: all 0.5s ease-in-out;
  transform: scaleY(1);
}
.nav__button--nav a:hover::before ,
.nav__button--emoji a:hover::before {
  transform: scaleY(0);
}

.nav__button--nav a::after,
.nav__button--emoji a::after {
    content: "";
    position: absolute;
    left: 5px;
    top: -5px;
    width: calc(100% - 10px);
    height: calc(100% + 10px);
    background-color: #3a0d82;
    transition: all 0.5s ease-in-out;
    transform: scaleX(1);
}
.nav__button--nav a:hover::after,
.nav__button--emoji a:hover::after {
  transform: scaleX(0);
}

h2 {
  color:#eff1f4;
  font-size: 52px;
 text-shadow: 1px 1px 2px #3a0d82, 0 0 25px #4f12b0, 0 0 5px #00257b;
}
h3 {
  color:#4f12b0;
  font-size: 28px;
}
.box__section--omnie {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.box__section__div--omnie, 
.box__private--article{
  max-width: 50rem;
  margin: auto;
}
.span__private--tekst,
.span__job--tekst{
  font-size: 20px;
  display: block;
  padding: 10px;
}
.table__job{
  border: solid #3a0d82;
  background-color: #ffefdc;
  padding: 5px;
}
.table__job tr:nth-child(even){
  background-color: #eff1f4;
}
th{
  background-color: #3a0d82;
  color: #ffefdc  ;
}