.App {
  text-align: center;
  background-image: url("./img/cristal\ background.png");
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  border-radius: 200px;
}

.App-header {
  background-color: #320081;
height: 80%;
width: 80%;
margin: auto;
padding: 100px;
border-radius: 20px;
opacity: .8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #d4e0fd;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
